body {
  margin: 0;
  font-family: "Poppins";
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 140%;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  color: #000000;
}

/* contact section */
.section--contact {
  background: #212121;
  padding: 10px 0 10px 0;
}

.contact--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  text-align: center;
}

.contact--icon i {
  color: #FFFFFF;
}

.contact--number {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin-left: 10px;
}
.contact--number p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
  margin-right: 24px;
}

.contact--icon {
  margin-left: 22px;
}

button {
  border: none;
  cursor: pointer;
}

.btn-lg {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #D92F27;
  border-radius: 7px;
  padding: 10px 13px;
}

.btn-lg:hover {
  color: #212121;
  background-color: #FFDE00;
  transition: 0.5s;
}

/*Header*/
.header {
  z-index: 99;
  background: #F5F5F5;
}

.header--heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

a.navbar-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  padding: 0 7px 0 7px;
}

a.navbar-link:hover {
  color: #D92F27;
  transition: 0.5s;
}

.btn-small {
  padding: 10px 24px;
  background: #D92F27;
  border-radius: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 20px;
}

.btn-small:hover {
  color: #212121;
  background-color: #FFDE00;
  transition: 0.5s;
}

.header--line {
  width: 100%;
  height: 1px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: rgba(255, 222, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* cover section */
.section--cover {
  padding: 60px 0 80px 0;
  background: rgba(255, 222, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.cover--title h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding-top: 30px;
}

.cover--text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #000000;
  margin: 0;
  text-align: inherit;
  padding-top: 20px;
}

.cover--wrapper {
  display: flex;
  align-items: center;
}

.cover--left {
  flex: 0 0 50%;
  max-width: 50%;
  padding-top: 60px;
}

.cover--right {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}

.cover--img {
  position: absolute;
  top: 110px;
  left: 80px;
}

.cover--images {
  width: 100%;
  height: auto;
}

.cover--button-1 {
  padding-top: 32px;
}

.cover_left--button {
  display: flex;
  flex-wrap: wrap;
}

.cover--button {
  padding-top: 32px;
  margin-left: 18px;
}

.btn-solid {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #212121;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #FFFFFF;
  border-radius: 7px;
  border: 1px solid #D92F27;
}

.btn-solid:hover {
  color: #FFFFFF;
  background: #D92F27;
  transition: 0.5s;
}

.cover--vector {
  position: relative;
}
.cover--vector img {
  height: 70px;
  width: 254px;
  position: absolute;
  z-index: -1;
  left: -20px;
  top: -72px;
}

/* review section */
.section--review {
  background: #212121;
  padding: 60px;
}

.review--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.review--numbers span {
  font-weight: 700;
  font-size: 49px;
  line-height: 140%;
  color: #FFFFFF;
}

.review--title h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
}

.review--text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-top: 30px;
}

.review--card {
  flex: 0 0 20%;
}

/* fitness section */
.section--fitness {
  padding-top: 150px;
}

.fitness {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.fitness__left {
  flex: 0 0 60%;
  position: relative;
  padding: 20px;
}
.fitness__right {
  flex: 0 0 40%;
}

.fitness--images {
  text-align: center;
}
.fitness--images img {
  max-width: 100%;
  height: auto;
}

.fitness--vector {
  position: absolute;
  left: -68px;
  top: -26px;
}

/* trainer section */
.section--trainer {
  padding-top: 80px;
}

.trainer--images {
  text-align: center;
}
.trainer--images img {
  max-width: 100%;
  height: auto;
  padding-top: 80px;
}

.trainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.trainer__left {
  flex: 0 0 40%;
}
.trainer__right {
  flex: 0 0 60%;
  position: relative;
  padding: 60px;
}

.trainer--vector {
  position: absolute;
  right: 20px;
  top: 74px;
}

/* our_body section */
.section--our_body {
  padding: 100px 0 0 0;
}

.our_body--heading h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  padding: 0 196px 0 196px;
}

.our_body--images img {
  width: 80px;
  height: auto;
}

.our_body--wrap {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding: 38px;
  height: 100%;
}

.our_body--inerwrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-top: 50px;
}

.our_body--card {
  flex: 0 0 33.33%;
  padding: 15px;
}

.our_body--title h3 {
  margin: 0;
  font-weight: 700;
  font-size: 19px;
  line-height: 160%;
  color: #000000;
  padding-top: 24px;
}

.our_body--text p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  padding-top: 16px;
}

.our_body--wrapper {
  position: relative;
}

.our_body--vector {
  position: absolute;
  right: -80px;
}

.our_body--img {
  position: absolute;
}

/* our_results section */
.section--our_results {
  padding: 100px 0 150px;
}

.our_results--heading h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  padding: 0 200px 0 200px;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.results--overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 97%;
  width: 93.5%;
  opacity: 0;
  transition: 0.4s ease;
  background: linear-gradient(0deg, rgba(255, 222, 0, 0.6), rgba(255, 222, 0, 0.6));
}

.results--images:hover > .results--overlay {
  display: block;
  background: linear-gradient(0deg, rgba(255, 222, 0, 0.6), rgba(255, 222, 0, 0.6));
  opacity: 0.7;
  transition: 0.5s;
}

.results--images {
  margin-right: 20px;
}

.results--content {
  width: 87%;
  margin: 0 auto;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  text-align: center;
}
.results--content h4 {
  font-weight: 700;
  font-size: 25px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
}

.swiper-wrapper {
  padding: 40px 0 100px;
}

.swiper .swiper-button-next:after {
  content: "next";
  font-size: 14px;
  color: #000000;
}

.swiper .swiper-button-prev:after {
  content: "prev";
  font-size: 14px;
  color: #000000;
}

.swiper .swiper-button-next {
  right: 46%;
  top: 84%;
  background: #FFFFFF;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.17);
  border-radius: 7px;
  height: 40px;
  width: 40px;
}

.swiper .swiper-button-prev {
  left: 46%;
  top: 84%;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.17);
  border-radius: 7px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.results--button {
  text-align: center;
}

/* program section */
.section--our_program {
  padding: 44px 0 20px 0;
}

.our_program {
  display: flex;
  background: #D92F27;
  border-radius: 14px;
}

.our_program--left {
  flex: 0 0 40%;
  position: relative;
}

.our_program--right {
  flex: 0 0 60%;
  padding: 40px;
}

.our_program--images {
  position: absolute;
  bottom: 86px;
}
.our_program--images img {
  width: 100%;
  height: auto;
}

.our_program--title h2 {
  font-weight: 700;
  font-size: 39px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 0;
}

.our_program--text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
  padding-top: 20px;
}

.our_program--button {
  padding-top: 30px;
}

/* our_client section */
.section--our_client {
  padding: 150px 0 50px;
}

.our_client--images {
  text-align: center;
}
.our_client--images img {
  width: 64px;
  height: 64px;
}

.our_client--wrap {
  background: #FFFFFF;
  box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  padding: 40px;
}

.our_client--content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 14px;
}

.our_client--img {
  text-align: center;
  padding-top: 8px;
}
.our_client--img img {
  width: 16px;
  height: 16px;
}

.our_client--name h3 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  text-align: center;
  padding-top: 16px;
}

.our_client--text p {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #000000;
  text-align: center;
}

/* blog section */
.section--blog {
  background: #212121;
  padding-bottom: 160px;
}

.blog--heading h2 {
  margin: 0;
  font-weight: 700;
  font-size: 39px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
  padding-top: 58px;
}

.blog--inerwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 34px;
}

.blog--card {
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  flex: 0 0 31.33%;
  padding: 16px;
}

.blog--date span {
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding-top: 12px;
}

.blog--subtitle h3 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  padding-top: 10px;
}

.blog--content p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  padding-top: 10px;
}

.blog--text h5 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  padding-top: 10px;
  cursor: pointer;
}

.blog--wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.blog--img {
  padding-top: 10px;
  margin-left: 8px;
  cursor: pointer;
}
.blog--img img {
  width: 10px;
  height: 10px;
}

/* online section */
.section--online {
  padding: 124px 0 50px;
}

.online {
  display: flex;
  background: #D92F27;
  border-radius: 14px;
}

.online--left {
  flex: 0 0 50%;
  padding: 43px;
}

.online--title h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  padding-top: 64px;
  max-width: 435px;
}

.online--text p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  padding-top: 10px;
}

.online--button {
  padding-top: 24px;
}

.online--images img {
  width: 90%;
  height: auto;
}

.online--right {
  flex: 0 0 50%;
  padding: 40px;
  text-align: center;
  position: relative;
  z-index: 999;
}

.online--images {
  position: absolute;
  top: -40px;
  z-index: -1;
}

/* footer */
.footer {
  background: #0B0D17;
  padding: 50px 0 34px;
}

.footer--logo img {
  width: 50px;
  height: auto;
}

.footer--inerwrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer--logo {
  margin-left: 20px;
}

.footer--icon {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-top: 20px;
}

.footer--vector {
  margin-left: 14px;
  opacity: 0.9;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D2225;
  border-radius: 15px;
}

.footer--wrap {
  display: flex;
}

ul.footer--list {
  display: block;
}

.footer--items-1 a {
  text-decoration: none;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
}

.footer--items a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #D9DBE1;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer--text h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
}

.footer--text p {
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
  padding-top: 10px;
  max-width: 70%;
}

.footer--wrapper {
  flex: 0 0 40%;
}

.footer--lists {
  flex: 0 0 15%;
}

.footer--tips {
  flex: 0 0 30%;
  margin-left: 20px;
}

li.footer--items {
  padding-bottom: 12px;
}

li.footer--items-1 {
  padding-bottom: 22px;
}

input {
  padding: 10px 100px 10px 12px;
  border: none;
  font-size: 14px;
  display: block;
  font-weight: 400;
  line-height: 160%;
  color: #D9DBE1;
  background: #1D2225;
  opacity: 0.9;
  border-radius: 8px;
}

.footer--images img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.footer--input {
  position: relative;
  padding-top: 20px;
}

.footer--images {
  position: absolute;
  right: 80px;
  top: 32px;
}

.footer--google img {
  width: 100px;
  height: auto;
}

.footer--review {
  width: 100px;
  height: auto;
}

.footer--img {
  display: flex;
  align-items: center;
  padding-top: 18px;
}

.footer--line {
  width: 100%;
  transform: matrix(1, 0, 0, -1, 0, 0);
  margin: 40px 0 0 6px;
  opacity: 0.4;
  border: 1px solid #FFFFFF;
}

.footer--copyright {
  display: flex;
  align-items: center;
}

.footer--copyright p {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 160%;
  color: #D9DBE1;
  padding-top: 18px;
}

/* popup Model Css */
.modal {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0deg, 0%, 0%, 0.5);
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
}

.modal-transition {
  transition: all 0.3s 0.12s;
  opacity: 0;
}

.modal.is-visible .modal-transition {
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 0;
}

.modal-header {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: 0;
  background-color: #becad5;
  border-radius: 50px;
  height: 34px;
  width: 34px;
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.modal-close:hover {
  color: #777;
}

.modal-body {
  padding: 40px;
}

.modal-subtitle {
  text-align: center;
}

.modal-subtitle span {
  font-size: 20px;
  font-weight: 700;
  color: #212121;
}

label {
  display: inline-block;
  color: #D92F27;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0 10px 0;
}

.modal-form input[type=text] {
  padding: 12px 180px;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  font-size: 16px;
  display: block;
  background: #FFFFFF;
}

.modal-button {
  padding-top: 20px;
}

.button--lg {
  padding: 14px 30px;
  font-size: 14px;
  font-weight: 500;
  background: #D92F27;
  color: #FFFFFF;
  border: none;
  line-height: 14px;
  cursor: pointer;
  border-radius: 7px;
}

.button--lg:hover {
  background: #000000;
  color: #FFFFFF;
  transition: 0.5s;
}

input[type=text-1] {
  padding: 40px 180px;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding-left: 15px;
  font-size: 16px;
  display: block;
  background: #FFFFFF;
}/*# sourceMappingURL=styles.css.map */